    .main-footer {
        padding: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .footer-container {
        position: relative;
        top: 0px;
    }

    main-footer__links{

        justify-content: center;
    }